<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="com.pragmatouch.calculator" android:versionCode="1"
	android:versionName="1.0">
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
	<uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
	<uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>
    <uses-permission android:name="android.permission.CALL_PHONE"></uses-permission>
    <uses-permission android:name="android.permission.READ_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_CONTACTS"></uses-permission>
    <uses-permission android:name="android.permission.READ_SMS"></uses-permission>
    <uses-permission android:name="android.permission.WRITE_SMS"></uses-permission>


        

    
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:name=".main" android:label="@string/app_name" android:screenOrientation="portrait">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter> 
		</activity>
		<activity android:name=".SecretManager" android:screenOrientation="portrait"></activity>
		<activity android:name=".AddFilterActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".ChangePwdActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".DetailUserActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".SettingActivity" android:screenOrientation="portrait"></activity>



		<receiver android:name=".CustomBroadcastReceiver">
        <intent-filter>
                <action android:name="android.intent.action.MODIFY_PHONE_STATE"/>  
                <action android:name="android.intent.action.CALL_PHONE"/> 
                <action android:name="android.intent.action.PHONE_STATE"/>
        </intent-filter>
        </receiver>

	</application>
	<uses-sdk android:minSdkVersion="8" />

</manifest> 